@import 'tailwindcss';

@theme {
  --color-*: initial;

  /* Background */
  --color-bg-dark: hsl(226 83% 2%);
  --color-bg: hsl(219 59% 5%);
  --color-bg-light: hsl(217 37% 10%);

  /* Text */
  --color-text: hsl(217 100% 98%);
  --color-text-muted: hsl(217 36% 72%);

  /* Highlight */
  --color-highlight: hsl(217 22% 41%);

  /* Border */
  --color-border: hsl(217 28% 30%);
  --color-border-muted: hsl(217 40% 20%);

  /* /* Primary */
  --color-primary: hsl(217 78% 75%);
  --color-primary-highlight: hsl(217 78% 85%);

  /* Secondary */
  --color-secondary: hsl(38 55% 61%);
  --color-secondary-highlight: hsl(38 55% 71%);

  /* Status */
  --color-error: hsl(8 80% 66%);
  --color-warning: hsl(51 71% 48%);
  --color-success: hsl(150 67% 53%);
  --color-info: hsl(217 96% 68%);

  /* For white theme in future */
  /* --color-bg-dark: hsl(217 59% 91%); */
  /* --color-bg: hsl(217 100% 96%); */
  /* --color-bg-light: hsl(217 100% 100%); */
  /* --color-text: hsl(223 92% 6%); */
  /* --color-text-muted: hsl(217 28% 30%); */
  /* --color-highlight: hsl(217 100% 100%); */
  /* --color-border: hsl(217 20% 53%); */
  /* --color-border-muted: hsl(217 28% 65%); */
  /* --color-primary: hsl(217 54% 32%); */
  /* --color-primary-highlight: hsl(217 54% 42%); */
  /* --color-secondary: hsl(43 100% 15%); */
  /* --color-secondary-highlight: hsl(43 100% 25%); */
  /* --color-error: hsl(9 21% 41%); */
  /* --color-warning: hsl(52 23% 34%); */
  /* --color-success: hsl(147 19% 36%); */
  /* --color-info: hsl(217 22% 41%); */
}
