@import "tailwindcss";

@theme {
  --color-*: initial;

  /* Main */
  --color-primary: #219EBC;
  --color-secondary: #FFBD27;
  --color-accent: #FF4027;


  /* Background */
  --color-background: #191d1e;
  --color-surface: #252b2d;
  --color-surface-variant: #829196;
  --color-overlay: rgba(2, 48, 71, 0.7);


  /* Text */
  --color-primary-text: #f0f0f0;
  --color-inverted-text: #252b2d;


  /* Border */
  --color-border-primary: #2f3639;
  --color-border-inverted: #f0f0f0;


  /* Notifications */
  --color-success: #28A745;
  --color-warning: #dc9020;
  --color-error: #DC3545;
  --color-info: #17A2B8;


  /* Hover */
  --color-primary-hover: #55C3DE;
  --color-secondary-hover: #FFCE5D;
  --color-accent-hover: #FF705D;

  --color-background-hover: #081114;
  --color-surface-hover: #0C191D;
  --color-surface-variant-hover: #656E71;

  --color-border-primary-hover: #25292B;


  /* Focus */
  --color-primary-focus: #0B657A;
  --color-secondary-focus: #A6770D;
  --color-accent-focus: #A61E0D;
}

